//====================================================================================================
.page {
	// .page__main-slider
	&__main-slider {
		background-color: #fcf8f3;
	}
	// .page__advantages
	&__advantages {
	}
	// .page__products
	&__products {
	}
}
.main-slider {
	// .main-slider__container
	&__container {
		position: relative;
		@media (min-width: $tablet) {
			&::before {
				content: "";
				background-color: #f9f1e7;
				position: absolute;
				top: 0;
				width: 100vw;
				right: 376px;
				height: 100%;
			}
		}
	}
	// .main-slider__body
	&__body {
		@include adaptiveValue("padding-top", 140, 60);
		position: relative;
		z-index: 2;
		@media (min-width: $tablet) {
			display: flex;
		}
	}
	// .main-slider__content
	&__content {
		align-self: flex-start;
		flex: 0 0 39.83871%; /* 494/1240 */
		@include adaptiveValue("margin-bottom", 80, 15);
		@media (max-width: $tablet) {
			margin: 0px -15px;
		}
	}
	// .main-slider__slider
	&__slider {
		flex: 1 1 auto;
		min-width: 0;
		align-self: flex-end;
		@media (min-width: $tablet) {
			padding-left: 32px;
		}
	}
}
.content-main {
	position: relative;
	z-index: 5;
	padding-right: 15px;
	padding-left: 15px;
	@include adaptiveValue("padding-top", 60, 15);
	@include adaptiveValue("padding-bottom", 60, 15);
	@media (min-width: $mobile) {
		@include adaptiveValue("padding", 60, 1);
		background-color: rgba(255, 255, 255, 0.8);
		@supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
			background-color: rgba(255, 255, 255, 0.72);
			backdrop-filter: blur(31px);
		}
	}
	// .content-main__title
	&__title {
		@include adaptiveValue("font-size", 56, 24);
		font-weight: 700;
		line-height: 120%;
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}
	// .content-main__text
	&__text {
		color: $grayColor;
		@include adaptiveValue("font-size", 20, 16);
		font-weight: 500;
		line-height: 150%;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 48, 20);
		}
	}
	// .content-main__button
	&__button {
		font-weight: 600;
		@include adaptiveValue("min-height", 78, 45);
		@include adaptiveValue("font-size", 20, 16);
		background-color: $orangeColor;
		color: #fff;
		width: 100%;
		@media (any-hover: hover) {
			&:hover {
				background-color: #cc865a;
			}
		}
	}
}
.slider-main {
	// .slider-main__controls
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	@media (max-width: $tablet) {
		align-items: stretch;
		flex-direction: column-reverse;
	}

	&__controls {
		align-self: stretch;
		margin-bottom: 20px;
		@media (max-width: $tablet) {
			margin: 10px 0px 20px 0px;
		}
	}
	// .slider-main__body
	&__body {
		overflow: visible;
		@media (min-width: $tablet) {
			@include adaptiveValue("width", 934, 290);
		}
		@media (max-width: $tablet) {
			margin: 0px -15px;
		}
	}

	// .slider-main__slide

	&__slide {
		position: relative;
	}

	// .slider-main__image

	&__image {
		padding-bottom: 59%;
	}

	// .slider-main__content

	&__content {
		min-width: 295px;
		max-height: 300px;
		overflow: auto;
		color: inherit;
		display: flex;
		flex-direction: column;
		@include adaptiveValue("padding", 24, 16);
		background: rgba(255, 255, 255, 0.9);
		@media (min-width: $mobile) {
			position: absolute;
			min-width: 350px;
			@include adaptiveValue("right", 40, 0);
			@include adaptiveValue("bottom", 40, 0);
		}
		@supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
			background: rgba(255, 255, 255, 0.72);
			backdrop-filter: blur(31px);
		}
	}

	// .slider-main__title

	&__title {
		@include adaptiveValue("font-size", 28, 22);
		font-weight: 600;
		line-height: 120%; /* 33.6px */
		&:not(:last-child) {
			margin-bottom: 4px;
		}
	}

	// .slider-main__text

	&__text {
		color: $grayColor;
		font-weight: 500;
		line-height: 150%;
		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}

	// .slider-main__price

	&__price {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: space-between;
		font-weight: 600;
		line-height: 150%; /* 30px */
		@include adaptiveValue("font-size", 20, 16);
		&::before {
			margin: 0px 0px 0px 10px;
		}
	}
}
.controls-slider-main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	// .controls-slider-main__dotts

	&__dotts {
		flex: 1 1 auto;
		@media (min-width: $tablet) {
			padding: 0px 20px 0px 0px;
		}
		@media (max-width: $tablet) {
			justify-content: center;
		}
	}

	// .controls-slider-main__arrows

	&__arrows {
		@media (max-width: $tablet) {
			display: none;
		}
	}
}
//====================================================================================================
.advantages {
	@include adaptiveValue("padding-top", 88, 30);
	@include adaptiveValue("padding-bottom", 88, 30);
	// .advantages__container
	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	// .advantages__item
	&__item {
		display: inline-grid;
		padding: 15px 0;
		grid-template: auto auto / 85px 1fr;
		@media (max-width: $tablet) {
			min-width: 280px;
		}
		@media (max-width: $mobile) {
			grid-template: auto auto / auto 1fr;
		}
	}

	// .advantages__icon
	&__icon {
		text-align: center;
		align-self: center;
		grid-row: span 2;
		@media (max-width: $mobile) {
			padding: 0px 15px 0px 0px;
		}
	}
	// .advantages__title
	&__title {
		font-size: 18px;
		font-weight: 600;
		line-height: 150%;
		&:not(:last-child) {
			margin-bottom: rem(2);
		}
	}
	// .advantages__text
	&__text {
		color: $grayColor;
		font-weight: 500;
		line-height: 150%;
	}
}
//========================================================================================================================================================
.products {
	@include adaptiveValue("padding-bottom", 44, 30);
	// .products__container
	&__container {
	}
	// .products__title
	&__title {
		@include adaptiveValue("margin-bottom", 32, 20);
	}
	// .products__items
	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
		gap: 32px;
	}
	// .products__item
	&__item {
	}
}

.item-product {
	background-color: #f4f5f7;
	display: flex;
	flex-direction: column;
	position: relative;
	// .item-product__labels
	&__labels {
		position: absolute;
		z-index: 2;
		display: flex;
		flex-direction: column;
		@include adaptiveValue("right", 24, 10);
		@include adaptiveValue("top", 24, 10);
	}
	// .item-product__label
	&__label {
		flex: 0 0 48px;
		width: 48px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		font-weight: 500;
		line-height: 150%;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
		// .item-product__label_sale
		&_sale {
			background-color: #e97171;
		}
		&_new {
			background-color: #2ec1ac;
		}
	}
	// .item-product__image
	&__image {
		padding: 105.614035%; /* 301/285 */
	}
	// .item-product__body
	&__body {
		flex: 1 1 auto;
		padding: 16px 16px 30px 16px;
		display: flex;
		flex-direction: column;
	}
	// .item-product__content
	&__content {
		flex: 1 1 auto;
	}
	// .item-product__title
	&__title {
		@include adaptiveValue("font-size", 24, 20);
		font-weight: 600;
		line-height: 120%;
		&:not(:last-child) {
			margin-bottom: rem(8);
		}
	}
	// .item-product__text
	&__text {
		color: $grayColor;
		font-weight: 500;
		line-height: 150%;
		&:not(:last-child) {
			margin-bottom: rem(8);
		}
	}
	// .item-product__prices
	&__prices {
		display: flex;
		flex-wrap: wrap;
		gap: 16px;
		align-items: center;
		line-height: 150%;
	}
	// .item-product__price
	&__price {
		@include adaptiveValue("font-size", 20, 16);
		font-weight: 600;
		&:not(:last-child) {
		}
		// .item-product__price_old
		&_old {
			@include adaptiveValue("font-size", 16, 14);
			text-decoration: line-through;
			color: #b0b0b0;
			font-weight: normal;
			margin-right: 16px;
		}
	}
	// .item-product__actions
	&__actions {
		@media (any-hover: hover) {
			&:hover {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: rgba(58, 58, 58, 072);
				z-index: 3;
			}
		}
	}
}

.actions-product {
	// .actions-product__body
	&__body {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	// .actions-product__button
	&__button {
		flex: 1 1 100%;
	}
	// .actions-product__link
	&__link {
	}
}
