//====================================================================================================
.page {
	// .page__main-slider

	&__main-slider {
		background-color: #fcf8f3;
	}
}
.main-slider {
	// .main-slider__container
	&__container {
		position: relative;
		@media (min-width: $tablet) {
			&::before {
				content: "";
				background-color: #f9f1e7;
				position: absolute;
				top: 0;
				width: 100vw;
				right: 376px;
				height: 100%;
			}
		}
	}
	// .main-slider__body
	&__body {
		@include adaptiveValue("padding-top", 140, 60);
		position: relative;
		z-index: 2;
		@media (min-width: $tablet) {
			display: flex;
		}
	}
	// .main-slider__content
	&__content {
		align-self: flex-start;
		flex: 0 0 39.83871%; /* 494/1240 */
		@include adaptiveValue("margin-bottom", 80, 15);
		@media (max-width: $tablet) {
			margin: 0px -15px;
		}
	}
	// .main-slider__slider
	&__slider {
		flex: 1 1 auto;
		min-width: 0;
		align-self: flex-end;
		@media (min-width: $tablet) {
			padding-left: 32px;
		}
	}
}
.content-main {
	position: relative;
	z-index: 5;
	padding-right: 15px;
	padding-left: 15px;
	@include adaptiveValue("padding-top", 60, 15);
	@include adaptiveValue("padding-bottom", 60, 15);
	@media (min-width: $mobile) {
		@include adaptiveValue("padding", 60, 1);
		background-color: rgba(255, 255, 255, 0.8);
		@supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
			background-color: rgba(255, 255, 255, 0.72);
			backdrop-filter: blur(31px);
		}
	}
	// .content-main__title
	&__title {
		@include adaptiveValue("font-size", 56, 24);
		font-weight: 700;
		line-height: 120%;
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}
	// .content-main__text
	&__text {
		color: $grayColor;
		@include adaptiveValue("font-size", 20, 16);
		font-weight: 500;
		line-height: 150%;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 48, 20);
		}
	}
	// .content-main__button
	&__button {
		font-weight: 600;
		@include adaptiveValue("min-height", 78, 45);
		@include adaptiveValue("font-size", 20, 16);
		background-color: $orangeColor;
		color: #fff;
		width: 100%;
		@media (any-hover: hover) {
			&:hover {
				background-color: #cc865a;
			}
		}
	}
}
.slider-main {
	// .slider-main__controls
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	@media (max-width: $tablet) {
		align-items: stretch;
		flex-direction: column-reverse;
	}

	&__controls {
		align-self: stretch;
		margin-bottom: 20px;
		@media (max-width: $tablet) {
			margin: 10px 0px 20px 0px;
		}
	}
	// .slider-main__body
	&__body {
		overflow: visible;
		@media (min-width: $tablet) {
			@include adaptiveValue("width", 934, 290);
		}
		@media (max-width: $tablet) {
			margin: 0px -15px;
		}
	}

	// .slider-main__slide

	&__slide {
		position: relative;
	}

	// .slider-main__image

	&__image {
		padding-bottom: 59%;
	}

	// .slider-main__content

	&__content {
		min-width: 295px;
		max-height: 300px;
		overflow: auto;
		color: inherit;
		display: flex;
		flex-direction: column;
		@include adaptiveValue("padding", 24, 16);
		background: rgba(255, 255, 255, 0.9);
		@media (min-width: $mobile) {
			position: absolute;
			min-width: 350px;
			@include adaptiveValue("right", 40, 0);
			@include adaptiveValue("bottom", 40, 0);
		}
		@supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
			background: rgba(255, 255, 255, 0.72);
			backdrop-filter: blur(31px);
		}
	}

	// .slider-main__title

	&__title {
		@include adaptiveValue("font-size", 28, 22);
		font-weight: 600;
		line-height: 120%; /* 33.6px */
		&:not(:last-child) {
			margin-bottom: 4px;
		}
	}

	// .slider-main__text

	&__text {
		color: $grayColor;
		font-weight: 500;
		line-height: 150%;
		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}

	// .slider-main__price

	&__price {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: space-between;
		font-weight: 600;
		line-height: 150%; /* 30px */
		@include adaptiveValue("font-size", 20, 16);
		&::before {
			margin: 0px 0px 0px 10px;
		}
	}
}
.controls-slider-main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	// .controls-slider-main__dotts

	&__dotts {
		flex: 1 1 auto;
		@media (min-width: $tablet) {
			padding: 0px 20px 0px 0px;
		}
		@media (max-width: $tablet) {
			justify-content: center;
		}
	}

	// .controls-slider-main__arrows

	&__arrows {
		@media (max-width: $tablet) {
			display: none;
		}
	}
}

//====================================================================================================
